body{
    margin: 0;
}
.contents{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}
/* Child of title-container*/
h1{
    font-family: 'Bagel Fat One';
    font-size: 2.5vw;
    font-weight: 400;
    color: pink;
    /*background-color: blue;*/
    margin: 5px;
}
.inputs{
    margin: 0;
    margin-left: 3vw;
    margin-top: 2vh;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
/*Class for all divs with label/input pairs*/
.input_field{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.input_field > label{
    font-size: calc(15%*10);
    font-family: 'Roboto';
}
 .input_field > input{
    background-color: #FFE8DF;
    border-radius: 8px;
    border-color: gray;
    border-width: 1px;
    font-size: 18px;
}
.input_field > input:invalid{
    border: 2px solid red;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover{
    background-color: #FFE8DF !important;
    -webkit-box-shadow: #FFE8DF !important;
    transition: background-color 9999s ease-in-out 0s;
}


/*-----Button styling-----*/
button{
    margin-top: 3vh;
    margin-left: 20px;
    margin-bottom: 2vh;
    padding: 10px;
    font-size: 30px;
    font-family:'Roboto';
    border-radius: 10px;
    background-color: #C1D1E5;
}
button:active{
    transform: scale(0.98);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: #AAAAFF;
}
/*------------------------*/
/*Child of Body*/
[id="side-panel-container"]{
    width: 40%;
    height: 100vh;
    background-image: url(logo.avif);
    background-size: cover;
    background-position: center;
}
/*Child of side-panel-container*/
[id="title-container"]{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    top: 20%;
    position: relative;
    align-items: center;
    justify-content: center;
}
/*Child of body*/
[id="signup-sheet"]{
    background-color: #FFE8DF;
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family:'Times New Roman', Times, serif
}
[id="description"]{
    margin-top: auto
}
/*Child of signup-sheet*/
[id="form-field"]{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #FFD1DC;
    box-shadow: 0px 7px 5px -1px #FFAFAF;
}
[id="form-header"]{
    margin-top: 3%;
    margin-bottom: 0;
    margin-left: 3vw;
    font-family: 'Bagel Fat One';
}
/*Paragraph that is Child of title-container*/
[id="title-container"] > p{
    height: auto;
    width: auto;
    text-align: center;
    margin: 0;
    font-size: 2vw;
    font-family: 'Roboto Slab';
    color: #C1E1C1;
}
/*Child of signup-sheet*/
[id="have-account"]{
    margin-top: 0px;
}
p{
    margin-left: 20px;
    color: black;
    font-size: 2em;
    font-family: 'Roboto Slab';
}

/*-----Link Styling-----*/
a{
    color: #AAAAFF;
    text-decoration: none;
}
a:hover{
    color: #C1D1E5;
}
a:active{
    color: blue
}
a:visited{
    color: purple;
}
/*----------------------*/
